<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div id="pinHeight" ng-if="pinpresent &amp;&amp; selectedGeo=='Corporate'" class="ng-scope">
    <!-- ngIf: pinNewsVO.length!=null && selectedGeo=='Corporate' -->
    <div id="pinnedNews" class="pinnedNewsupdate ng-scope" ng-if="pinNewsVO.length!=null &amp;&amp; selectedGeo=='Corporate'">
      <div id="pinContainer">
        <div id="pinCarousel" class="carousel slide" data-ride="carousel">
          <ol ng-if="pinNewsVO.length>1" class="carousel-indicators ng-scope">
            <li ng-repeat="pinnews in pinNewsVO" ng-class="{'active': pinnews == pinNewsVO[0]}" data-target="#pinCarousel" data-slide-to="0" id="indicator0" class="ng-scope">
              <div class="concentric"></div>
            </li>
            <li ng-repeat="pinnews in pinNewsVO" ng-class="{'active': pinnews == pinNewsVO[0]}" data-target="#pinCarousel" data-slide-to="1" id="indicator1" class="ng-scope active">
              <div class="concentric"></div>
            </li>
            <li ng-repeat="pinnews in pinNewsVO" ng-class="{'active': pinnews == pinNewsVO[0]}" data-target="#pinCarousel" data-slide-to="2" id="indicator2" class="ng-scope">
              <div class="concentric"></div>
            </li>

          </ol>
          <div class="carousel-inner">
            <div ng-repeat="pinnews in pinNewsVO" ng-class="{'active': pinnews == pinNewsVO[0]}" class="item ng-scope">
              <img src="/opening.jpg">

            </div>
            <div ng-repeat="pinnews in pinNewsVO" ng-class="{'active': pinnews == pinNewsVO[0]}" class="item ng-scope active">
              <img src="employ.jpg">

            </div>
            <div ng-repeat="pinnews in pinNewsVO" ng-class="{'active': pinnews == pinNewsVO[0]}" class="item ng-scope">
              <img src="cccfr.jpg">

            </div><!-- end ngRepeat: pinnews in pinNewsVO -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
