body{
  background-color: #4a3f35;
}
#title {
  background-color: #ff4301;
  font-family: "Montserrat-Black", sans-serif;
  padding-bottom: 0;

}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: Black;
}

.til {
  border-left: 0;
  padding-top: 0px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}
.cd{
  text-align:right;
  color: black;
  padding-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: Black;
}
.nav-item {
  padding: 0 18px;
}

.ti {
  width: 50%;
  transform: rotate(25deg);
  padding: 5px 10px 0;
}

.container-fluid {
  padding: 0 8% 0;
}

.nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
}
.ccc{
  padding-top: 25px;
}
#features {
  padding: 3% 10%;
  border: 25%;
  background-color: #ff4301 ;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  padding: 0 7%;
  color: grey;
}

.fas {
  color: #ef8172;
  padding-bottom: 5px;
  padding-top: 5px;
}

.fas:hover {
  color: #4a3f35;

}
.far {
  color: #ef8172;
  padding-bottom: 5px;
  padding-top: 5px;
}

.far:hover {
  color: #ff4301;
}
#testimonials{
  background-color: #4a3f35;
  color: black;


}
#bb{
  padding: 0 10% 7%;
  border: 25%;
}
.t{
  color: white;
}
#l{
padding: 0 10%;
}
#m{
  padding: 0 30%;
}
#n{
  padding-top: 0;
}
#footer{
  background-color: #ff4001;
  padding-bottom: 10px;


}
.p{
  color: black;
}
.ls{
  color: black;
  font-size: 2rem;
}
.fab:hover{
  color: white;
}
.jl{
  padding-top:15px;
}
.til{
  color: #ff4301;
  padding-top: 20px;

}
#con{
  background-color: #4a3f35;
}
.sl{
  font-family: 'Ubuntu', sans;
  font-size: 1.5rem;
  color: #ff4301;
}
#lit{
  padding-left: 10%;
  padding-right: 10%;
}
.asd{
  padding: 0 20%;
  text-align: center;
}

.job{
  padding: 3% 7%;
}

.cl{
  padding: 1% .5%;
  /*background-color: #2f2519;*/
}
.card-body{
  background-color: #2f2519;
}
.tb{
  color: black;
  font-size: 1.2rem;
}
.tilt{
  color: #4a3f35;
}
h4{
  padding-top: 0px;
}
